#logo {
  text-align: center;
  margin: 30px;
}
body {
  background-image: url("background.png");
}
#content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  height: auto;
  color: #feda4a;
  border: 2px dashed blue;
}
.subSection {
  width: 40%;
  height: max(300px, 30%);
  border: 3px solid red;
  border-radius: 10px;
  height: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.subTitle {
  font-size: clamp(2em, 2vw, 5rem);
  text-align: center;
  border: 2px dashed white;
}
.text {
  width: 95%;
  height: auto;
  font-size: clamp(1em, 1.5vw, 3rem);
  border: 2px green dashed;
  color: #feda4a;
}

#examples {
  font-size: clamp(1em, 2vw, 3rem);
  color: white;
}
